.input-group,
.input-group .form-control {
    width: 100%;
    text-align: right;
}

.container {
    width: 600px;
    padding-top: 20px;
}
.btn {
    width: 100%;
    display: block;
    margin: 5px 0;
}